body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topmost {
    display: flex;
    flex-direction: row;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
}