body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.topmost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;

}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 12px;
}

.top-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  li {
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
  }

.continue {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    width: 20%;
    min-width: 60px;
  }

.big-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.small-text {
    color: #F9FAF8;
    max-width: fit-content;
}

.awesome {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ultra {    
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 60px;
}

.imagespot {
    padding: 20px;
    background-color: #F9FAF8;
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
    height: auto;
}

.info {
    display: inline-flex;
    flex-direction: row;
}

.smallimg {
    border-radius: 5%;
    max-width: 75%;
    max-height: 75%;
}

.big-text-black {
    font-size: 36px;
    font-weight: bold;
}

.info-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.quote {
    background-color: aqua;
    align-items: center;
    font-size: medium;
    display: flex;
    flex-direction: column;
    padding: 15%;
    font-size: x-large;
    
}

.inner {
   text-align: left;
}

.outer {
    text-align: right;
}